# .gitignore - Go Operations Toolkit

###> general/editors ###

# IntelliJ IDEA
.idea/*

# VS Code
.vscode/*
###>

###> general/secret ###

# secrets
secrets/*

# Vault data
data/*
!data/.gitkeep
###>

###> source/sources ###

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
###>

###> source/tests ###

# Tests
*.test

# Go coverage tool output
*.out
###>

###> source/temp ###

# Bazel output
bazel-*

# distribution
dist/*
build/*
###>
